<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
  {:token()}
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Id')}:</label>
    <div class="col-xs-12 col-sm-8">
      <p class="form-control-static">{$row.id|htmlentities}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Tel')}:</label>
    <div class="col-xs-12 col-sm-8">
      <p class="form-control-static">{$row.tel|htmlentities}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
    <div class="col-xs-12 col-sm-8">
      <p class="form-control-static">{:$row.username ?: '--'}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Parent_account')}:</label>
    <div class="col-xs-12 col-sm-8">
      <p class="form-control-static">{:$row.parent_account ?: '--'}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
    <div class="col-xs-12 col-sm-8">
      <p class="form-control-static">{:$row.nickname ?: '--'}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Agent_enabled')}:</label>
    <div class="col-xs-12 col-sm-8">
      <label for="c-show_td">
        <input id="c-show_td" name="row[show_td]" type="checkbox" value="1" {if condition="(int)$row.show_td === 1"}checked{/if} />
        {:__('Invite code valid when enabled')}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Login_status')}:</label>
    <div class="col-xs-12 col-sm-8">
      <label for="c-status">
        <input id="c-status" name="row[status]" type="checkbox" value="1" {if condition="(int)$row.status === 1"}checked{/if} />
        {:__('Login allowed when enabled')}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Task_status')}:</label>
    <div class="col-xs-12 col-sm-8">
      <label for="c-task_update_status">
        <input id="c-task_update_status" name="row[task_update_status]" type="checkbox" value="1" {if condition="!isset($row.task_update_status) || (int)$row.task_update_status === 1"}checked{/if} />
        {:__('Task allowed when enabled')}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Reset_task_count')}:</label>
    <div class="col-xs-12 col-sm-8">
      <a href="{:url('miniapp/user_setting/reset_task_count', ['ids' => $row.id])}" class="btn btn-warning btn-ajax" data-confirm="{:__('Confirm reset task count')}" data-success="Toastr.success('{:__('Task count reset successful')}');">
        <i class="fa fa-refresh"></i> {:__('Reset_task_count')}
      </a>
      <span class="help-block">{:__('Reset task count help')}</span>
    </div>
  </div>
  <div class="form-group">
    <label for="c-dispatch_mode_id" class="control-label col-xs-12 col-sm-2">{:__('Dispatch_mode')}:</label>
    <div class="col-xs-12 col-sm-8">
      <select id="c-dispatch_mode_id" name="row[dispatch_mode_id]" class="form-control selectpicker">
        {foreach name="dispatchModeList" item="vo"}
        <option value="{$key|htmlentities}" {if condition="(string)$row.dispatch_mode_id === (string)$key"}selected{/if}>{$vo|htmlentities}</option>
        {/foreach}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="c-password" class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-password" class="form-control" name="row[password]" type="password" value="" autocomplete="new-password" />
      <span class="help-block">{:__('Leave blank to keep unchanged')}</span>
    </div>
  </div>
  <div class="form-group">
    <label for="c-cash_password" class="control-label col-xs-12 col-sm-2">{:__('Cash_password')}:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-cash_password" class="form-control" name="row[cash_password]" type="password" value="" autocomplete="new-password" />
      <span class="help-block">{:__('Leave blank to keep unchanged')}</span>
    </div>
  </div>
  <div class="form-group">
    <label for="c-withdraw_address" class="control-label col-xs-12 col-sm-2">{:__('Withdraw_address')}:</label>
    <div class="col-xs-12 col-sm-8">
      <textarea id="c-withdraw_address" class="form-control" rows="3" name="row[withdraw_address]">{$row.withdraw_address|htmlentities}</textarea>
    </div>
  </div>
  <div class="form-group layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
      <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
      <button type="reset" class="btn btn-warning btn-embossed">{:__('Reset')}</button>
    </div>
  </div>
</form>
